.mediaViewInfo {
    --web-view-name: 1;
    --web-view-id: n_;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: n_;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#n_ {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: 1;
    --web-view-id: n_;
    --web-enable-deep-linking: true;
}
#n_781824_alarm_alert_attention {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1794px;
    
    overflow: visible;
}
#n_666609_user_icon {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1731px;
    
    overflow: visible;
}

#n__2__1 {
    position: absolute;
    width: 1920.001px;
    height: 1121.001px;
    left: 0px;
    top: 50px;
    overflow: visible;
}
#n___ {
    left: 142px;
    top: 31px;
    position: absolute;
    overflow: visible;
    width: 138px;
    white-space: nowrap;
    text-align: left;
    font-family: S-Core Dream 4;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(117,111,111,1);
}
#n_1 {
    fill: transparent;
    stroke: rgba(112,112,112,0.729);
    stroke-width: 0.800000011920929px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_1 {
    overflow: visible;
    position: absolute;
    width: 0.8px;
    height: 37.5px;
    left: 346px;
    top: 6.75px;
    transform: matrix(1,0,0,1,0,0);
}
#Text {
    left: 719px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: LH B;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}
#Text_t {
    left: 416px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: LH;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}
#Text_u {
    left: 568px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: LH B;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}
#Text_v {
    left: 868px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: LH B;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}
#Text_w {
    left: 998px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    text-align: left;
    font-family: LH B;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}
#Text_x {
    left: 1145px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: LH B;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}
#Text_y {
    left: 1740px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: left;
    font-family: LH;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}
#n_2 {
    fill: rgba(248,65,65,0.749);
}
.n_2 {
    position: absolute;
    overflow: visible;
    width: 87px;
    height: 3px;
    left: 416px;
    top: 35px;
}
#n_2_ {
    position: absolute;
    width: 1920px;
    height: 1021.001px;
    left: 0px;
    top: 100px;
    overflow: visible;
}
#n_5 {
    fill: rgba(0,0,0,0.549);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_5 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 972px;
    left: 0px;
    top: 100px;
}
#n____ {
    left: 130px;
    top: 313px;
    position: absolute;
    overflow: visible;
    width: 251px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Han Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.2px;
}
#n_____ {
    left: 130px;
    top: 353px;
    position: absolute;
    overflow: visible;
    width: 531px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Han Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.6px;
}
#n_8 {
    fill: rgba(248,65,65,1);
}
.n_8 {
    position: absolute;
    overflow: visible;
    width: 193px;
    height: 51px;
    left: 130px;
    top: 732px;
}
#n__ {
    left: 167px;
    top: 743px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Han Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#n_5_ {
    fill: rgba(248,65,65,1);
}
.n_5_ {
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 85px;
    left: 1755px;
    top: 888px;
}
#n_6 {
    fill: rgba(0,0,0,1);
}
.n_6 {
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 85px;
    left: 1755px;
    top: 803px;
}
#CONTACT_US {
    left: 1763px;
    top: 923px;
    position: absolute;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Han Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#Text_ {
    left: 1777px;
    top: 838px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Han Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.4px;
}
#n_____________________________ {
    left: 130px;
    top: 535px;
    position: absolute;
    overflow: visible;
    width: 538px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -6px;
    text-align: left;
    font-family: 조선가는고딕;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.8px;
}
#n_7 {
    fill: rgba(248,65,65,1);
}
.n_7 {
    position: absolute;
    overflow: visible;
    width: 9px;
    height: 9px;
    left: 347px;
    top: 438px;
}
#n_402422_link_share_web_send_c {
    fill: transparent;
}
.n_402422_link_share_web_send_c {
    mix-blend-mode: darken;
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 36px;
    left: 130px;
    top: 622px;
}
#Rectangle {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 130px;
    top: 633px;
    overflow: visible;
}
#n_026704_heart_thin_icon {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 168px;
    top: 631px;
    overflow: visible;
}
#n_265 {
    left: 197px;
    top: 634px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -4px;
    text-align: left;
    font-family: 조선가는고딕;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(242,242,242,1);
    letter-spacing: 0.4px;
}
#n_8_bg {
    fill: rgba(248,65,65,1);
}
.n_8_bg {
    position: absolute;
    overflow: visible;
    width: 10px;
    height: 10px;
    left: 1227px;
    top: 3px;
}
#n_15 {
    fill: rgba(242,242,242,1);
}
.n_15 {
    position: absolute;
    overflow: visible;
    width: 355px;
    height: 42px;
    left: 1353px;
    top: 4px;
}
#Youtube {
    left: 130px;
    top: 950px;
    position: absolute;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#Facebook {
    left: 209px;
    top: 950px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#Twitter {
    left: 297px;
    top: 950px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#n_801315_glass_magnifier_magni {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1668px;
    top: 14px;
    overflow: visible;
}
#n_2_bm {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 80px;
    top: 0px;
    overflow: visible;
}
#n_3 {
    position: absolute;
    width: 95.959px;
    height: 27px;
    left: 142px;
    top: 0px;
    overflow: visible;
}