.mediaViewInfo {
    --web-view-name: 로그인;
    --web-view-id: Artboard;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Artboard;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Artboard {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: 로그인;
    --web-view-id: Artboard;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#n_59 {
    opacity: 0.63;
    fill: rgba(96,49,49,1);
}
.n_59 {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.58));
    position: absolute;
    overflow: visible;
    width: 1678px;
    height: 926px;
    left: 130px;
    top: 86px;
}
#n_5 {
    position: absolute;
    width: 1042.001px;
    height: 908px;
    left: 129.999px;
    top: 86px;
    overflow: visible;
}
#n_57 {
    fill: rgba(250,112,112,1);
}
.n_57 {
    position: absolute;
    overflow: visible;
    width: 618px;
    height: 908px;
    left: 1172px;
    top: 86px;
}
#n_58 {
    fill: rgba(255,255,255,1);
}
.n_58 {
    display: none;
    position: absolute;
    overflow: visible;
    width: 618px;
    height: 908px;
    left: 1172px;
    top: 86px;
}
#n_1 {
    opacity: 0.63;
    fill: rgba(96,49,49,1);
}
.n_1 {
    position: absolute;
    overflow: visible;
    width: 1660px;
    height: 908px;
    left: 130px;
    top: 86px;
}
#n_48 {
    fill: rgba(255,255,255,1);
}
.n_48 {
    position: absolute;
    overflow: visible;
    width: 618px;
    height: 908px;
    left: 1172px;
    top: 86px;
}
#Sign_in {
    left: 1422px;
    top: 208px;
    position: absolute;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -22px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
    letter-spacing: -0.1px;
    text-transform: uppercase;
}
#n_6 {
    fill: transparent;
    stroke: rgba(202,64,64,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_6 {
    overflow: visible;
    position: absolute;
    width: 48px;
    height: 5px;
    left: 1453.5px;
    top: 261.5px;
    transform: matrix(1,0,0,1,0,0);
}
#n_ {
    left: 1423px;
    top: 294px;
    position: absolute;
    overflow: visible;
    width: 110px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -31px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(109,109,109,1);
    letter-spacing: -0.1px;
}
#n_49 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_49 {
    position: absolute;
    overflow: visible;
    width: 410px;
    height: 62px;
    left: 1283px;
    top: 419px;
}
#n_50 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_50 {
    position: absolute;
    overflow: visible;
    width: 410px;
    height: 62px;
    left: 1283px;
    top: 499px;
}
#n_51 {
    fill: rgba(250,112,112,1);
}
.n_51 {
    position: absolute;
    overflow: visible;
    width: 410px;
    height: 62px;
    left: 1283px;
    top: 645px;
}
#Text {
    left: 1312px;
    top: 438px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -30px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(109,109,109,1);
    letter-spacing: -0.1px;
}
#Text_ {
    left: 1312px;
    top: 518px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -30px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(109,109,109,1);
    letter-spacing: -0.1px;
}
#SIGN_IN {
    left: 1460px;
    top: 664px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -30px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.1px;
}
#n__ {
    left: 1393px;
    top: 729px;
    position: absolute;
    overflow: visible;
    width: 190px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -30px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
    letter-spacing: -0.1px;
}
#Text_ba {
    left: 1459px;
    top: 764px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -30px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
    letter-spacing: -0.1px;
}
#n_7 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_7 {
    overflow: visible;
    position: absolute;
    width: 187px;
    height: 1px;
    left: 1393.5px;
    top: 751.5px;
    transform: matrix(1,0,0,1,0,0);
}
#n_8 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_8 {
    overflow: visible;
    position: absolute;
    width: 56px;
    height: 1px;
    left: 1460px;
    top: 786.5px;
    transform: matrix(1,0,0,1,0,0);
}
#n_52 {
    fill: rgba(250,112,112,1);
}
.n_52 {
    position: absolute;
    overflow: visible;
    width: 22px;
    height: 22px;
    left: 1322px;
    top: 580px;
}
#n_53 {
    fill: rgba(250,112,112,1);
}
.n_53 {
    position: absolute;
    overflow: visible;
    width: 22px;
    height: 22px;
    left: 1511px;
    top: 580px;
}
#n___ba {
    left: 1345px;
    top: 577px;
    position: absolute;
    overflow: visible;
    width: 148px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -29.5px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(145,145,145,1);
    letter-spacing: -0.1px;
}
#n__bb {
    left: 1541px;
    top: 577px;
    position: absolute;
    overflow: visible;
    width: 113px;
    white-space: nowrap;
    line-height: 76px;
    margin-top: -29.5px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(145,145,145,1);
    letter-spacing: -0.1px;
}
#n_696483_circle_facebook_media {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1371px;
    top: 879px;
    overflow: visible;
}
#n_595660_kakao_message_social_ {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1435px;
    top: 879px;
    overflow: visible;
}
#n_147415_address_book_circle_c {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1499px;
    top: 879px;
    overflow: visible;
}
#n_82223_circle_logo_google_plu {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1563px;
    top: 879px;
    overflow: visible;
}
#n___bg {
    left: 190px;
    top: 284px;
    position: absolute;
    overflow: visible;
    width: 296px;
    white-space: nowrap;
    line-height: 100px;
    margin-top: -36px;
    text-align: left;
    font-family: LH B;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.6px;
}
#n__bh {
    left: 190px;
    top: 315px;
    position: absolute;
    overflow: visible;
    width: 384px;
    white-space: nowrap;
    line-height: 100px;
    margin-top: -2px;
    text-align: left;
    font-family: LH B;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    color: rgba(255,255,255,1);
    letter-spacing: 1.2px;
}
#n_____________________________ {
    left: 190px;
    top: 463px;
    position: absolute;
    overflow: visible;
    width: 538px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -6px;
    text-align: left;
    font-family: 조선가는고딕;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.8px;
}
#About_us {
    left: 1006px;
    top: 912px;
    position: absolute;
    overflow: visible;
    width: 74px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -5px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.8px;
}
#Learn_More {
    left: 841px;
    top: 912px;
    position: absolute;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -5px;
    text-align: left;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.8px;
}
#n_9 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_9 {
    overflow: visible;
    position: absolute;
    width: 92px;
    height: 1px;
    left: 841.5px;
    top: 936.5px;
    transform: matrix(1,0,0,1,0,0);
}
#n_10 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_10 {
    overflow: visible;
    position: absolute;
    width: 73px;
    height: 1px;
    left: 1006.5px;
    top: 936.5px;
    transform: matrix(1,0,0,1,0,0);
}
#n_17 {
    fill: rgba(250,112,112,1);
}
.n_17 {
    position: absolute;
    overflow: visible;
    width: 15px;
    height: 15px;
    left: 582px;
    top: 321px;
}
#n_1_bo {
    position: absolute;
    width: 87.955px;
    height: 27px;
    left: 190px;
    top: 909.5px;
    overflow: visible;
}
