<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

        <title>수어 프로그램</title>
        
    </head>



    <body>
        <div id="n_">
            <svg class="n_1">
                <rect id="n_1" rx="0" ry="0" x="0" y="0" width="50" height="48">
                </rect>
            </svg>
            <div id="Text">
                <span>개투기투디</span>
            </div>
            <div id="n___">
                <span>쉽게 알려주는 수어, 쉬어!</span>
            </div>
            <svg class="n_1_o" viewBox="0 0 0.800000011920929 37.5">
                <path id="n_1_o" d="M 0 0 L 0 37.5">
                </path>
            </svg>
            <div id="Text_p">
                <span><a id='id_1' href="translation">번역하기</a></span>
            </div>
            <div id="LOGO">
                <span>LOGO</span>
            </div>
            <div id="Text_r">
                <span><a href="./">메인화면</a></span>
            </div>
            <div id="Text_s">
                <span><a href="education">학습하기</a></span>
            </div>
            <div id="Text_t">
                <span><a href="test">테스트</a></span>
            </div>
            <div id="Text_u">
                <span>커뮤니티</span>
            </div>
            <div id="Text_v">
                <span>공지사항</span>
            </div>
            <div id="Text_w">
                <span>로그인</span>
            </div>
            <svg class="n_2">
                <rect id="n_2" rx="0" ry="0" x="0" y="0" width="87" height="3">
                </rect>
            </svg>
            <img id="n_2_y" src="{{ url_for('static', filename='images/n_2_y.png') }}" > 
                <!-- srcset="n_2_y.png 1x, n_2_y@2x.png 2x" -->
            <svg class="n_5">
                <rect id="n_5" rx="0" ry="0" x="0" y="0" width="1920" height="972">
                </rect>
            </svg>
            <div id="n____">
                <span>누구나 쉽고 즐겁게 배우는,</span>
            </div>
            <div id="n_____">
                <span>객체 인식 수어 프로그램<br/>개투기투디</span>
            </div>
            <svg class="n_8">
                <rect id="n_8" rx="25" ry="25" x="0" y="0" width="193" height="51">
                </rect>
            </svg>
            <div id="n__">
                <span>바로 시작하기</span>
            </div>
            <svg class="n_5_">
                <ellipse id="n_5_" rx="42.5" ry="42.5" cx="42.5" cy="42.5">
                </ellipse>
            </svg>
            <svg class="n_6">
                <ellipse id="n_6" rx="42.5" ry="42.5" cx="42.5" cy="42.5">
                </ellipse>
            </svg>
            <div id="CONTACT_US">
                <span>CONTACT US</span>
            </div>
            <div id="Text_">
                <span>문의하기</span>
            </div>
            <div id="n_____________________________">
                <span>객체 인식 기술을 통해 수어를 배우고자 하는 청인 사용자에게는 효율적인 언어학습을<br/>수어 번역 서비스를 통해 농인들의 일상적인 간단한 의사소통 전달을<br/>이렇게 하나로 모인 청인과 농인 사이 소통할 수 있는 커뮤니티를 형성합니다. </span><br/>
            </div>
            <svg class="n_7">
                <ellipse id="n_7" rx="4.5" ry="4.5" cx="4.5" cy="4.5">
                </ellipse>
            </svg>
            <svg class="n_402422_link_share_web_send_c">
                <rect id="n_402422_link_share_web_send_c" rx="0" ry="0" x="0" y="0" width="36" height="36">
                </rect>
            </svg>
            <img id="Rectangle" src="{{ url_for('static', filename='images/Rectangle.png') }}">
                
            <img id="n_026704_heart_thin_icon" src="{{ url_for('static', filename='images/n_026704_heart_thin_icon.png') }}">
                
            <div id="n_265">
                <span>4,265</span>
            </div>
            <svg class="n_8_be">
                <ellipse id="n_8_be" rx="5" ry="5" cx="5" cy="5">
                </ellipse>
            </svg>
            <svg class="n_15">
                <rect id="n_15" rx="20" ry="20" x="0" y="0" width="355" height="42">
                </rect>
            </svg>
            <div id="Youtube">
                <span>Youtube</span>
            </div>
            <div id="Facebook">
                <span>Facebook</span>
            </div>
            <div id="Twitter">
                <span>Twitter</span>
            </div>
            <img id="n_801315_glass_magnifier_magni" src="{{ url_for('static', filename='images/n_801315_glass_magnifier_magni.png') }}">
                
        </div>
    </body>
</html>