<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>수어? 쉬워!</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        
	</head>
	<body>
		<div id="Artboard">
			<svg class="n_59">
				<rect id="n_59" rx="15" ry="15" x="0" y="0" width="1660" height="908">
				</rect>
			</svg>
			<img id="n_5" src="{{ url_for('static', filename='images/n_5.png') }}">
				
			<svg class="n_57">
				<rect id="n_57" rx="15" ry="15" x="0" y="0" width="618" height="908">
				</rect>
			</svg>
			<svg class="n_58">
				<rect id="n_58" rx="0" ry="0" x="0" y="0" width="618" height="908">
				</rect>
			</svg>
			<svg class="n_1">
				<rect id="n_1" rx="15" ry="15" x="0" y="0" width="1660" height="908">
				</rect>
			</svg>
			<svg class="n_48">
				<rect id="n_48" rx="0" ry="0" x="0" y="0" width="618" height="908">
				</rect>
			</svg>
			<div id="Sign_in">
				<span>Sign in</span>
			</div>
			<svg class="n_6" viewBox="0 0 48 5">
				<path id="n_6" d="M 0 0 L 48 0">
				</path>
			</svg>
			<div id="n_">
				<span>오늘도 반갑습니다!</span>
			</div>
			<svg class="n_49">
				<rect id="n_49" rx="31" ry="31" x="0" y="0" width="410" height="62">
				</rect>
			</svg>
			<svg class="n_50">
				<rect id="n_50" rx="31" ry="31" x="0" y="0" width="410" height="62">
				</rect>
			</svg>
			<svg class="n_51">
				<rect id="n_51" rx="31" ry="31" x="0" y="0" width="410" height="62">
				</rect>
			</svg>
			<div id="Text">
				<input type="text" placeholder="아이디" style="height:40px;width:350px">
			</div>
			<div id="Text_">
				<input type="password" placeholder="비밀번호" style="height:40px;width:350px">
			</div>
			<div id="SIGN_IN">
				<span><a href="login_on">SIGN IN</a></span>
			</div>
			<div id="n__">
				<span>혹시 비밀번호를 모르시나요?</span>
			</div>
			<div id="Text_ba">
				<span>회원가입</span>
			</div>
			<svg class="n_7" viewBox="0 0 187 1">
				<path id="n_7" d="M 0 0 L 187 0">
				</path>
			</svg>
			<svg class="n_8" viewBox="0 0 56 1">
				<path id="n_8" d="M 0 0 L 56 0">
				</path>
			</svg>
			<svg class="n_52">
				<rect id="n_52" rx="3" ry="3" x="0" y="0" width="22" height="22">
				</rect>
			</svg>
			<svg class="n_53">
				<rect id="n_53" rx="3" ry="3" x="0" y="0" width="22" height="22">
				</rect>
			</svg>
			<div id="n___ba">
				<span>로그인 상태 유지하기</span>
			</div>
			<div id="n__bb">
				<span>아이디 저장하기</span>
			</div>
			<img id="n_696483_circle_facebook_media" src="{{ url_for('static', filename='images/n_696483_circle_facebook_media.png') }}">
				
			<img id="n_595660_kakao_message_social_" src="{{ url_for('static', filename='images/n_595660_kakao_message_social_.png') }}" >
				
			<img id="n_147415_address_book_circle_c" src="{{ url_for('static', filename='images/n_147415_address_book_circle_c.png') }}" >
				
			<img id="n_82223_circle_logo_google_plu" src="{{ url_for('static', filename='images/n_82223_circle_logo_google_plu.png') }}" >
				
			<div id="n___bg">
				<span>객채인식수어 프로그램 </span>
			</div>
			<div id="n__bh">
				<span>수어</span><span style="font-size:5px;"> </span><span>쉬어</span>
			</div>
			<div id="n_____________________________">
				<span>객체 인식 기술을 통해 수어를 배우고자 하는 청인 사용자에게는 효율적인 언어학습을<br/>수어 번역 서비스를 통해 농인들의 일상적인 간단한 의사소통 전달을<br/>이렇게 하나로 모인 청인과 농인 사이 소통할 수 있는 커뮤니티를 형성합니다. </span><br/>
			</div>
			<div id="About_us">
				<span>About us</span>
			</div>
			<div id="Learn_More">
				<span>Learn More</span>
			</div>
			<svg class="n_9" viewBox="0 0 92 1">
				<path id="n_9" d="M 0 0 L 92 0">
				</path>
			</svg>
			<svg class="n_10" viewBox="0 0 73 1">
				<path id="n_10" d="M 0 0 L 73 0">
				</path>
			</svg>
			<svg class="n_17">
				<ellipse id="n_17" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<img id="n_1_bo" src="{{ url_for('static', filename='images/n_1_bo.png') }}">
				
		</div>
	</body>
</html>