
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

        <title>수어 프로그램</title>
        
    </head>


<body>
    <div id="n_">
        <svg class="n_1">
            <rect id="n_1" rx="0" ry="0" x="0" y="0" width="50" height="48">
            </rect>
        </svg>
        <div id="Text">
            <span>개투기투디</span>
        </div>
        <div id="n___">
            <span>쉽게 알려주는 수어, 쉬어!</span>
        </div>
        <svg class="n_1_o" viewBox="0 0 0.800000011920929 37.5">
            <path id="n_1_o" d="M 0 0 L 0 37.5">
            </path>
        </svg>
        <div id="Text_p">
            <span><a href="translation">번역하기</a></span>
        </div>
        <div id="LOGO">
            <span>LOGO</span>
        </div>
        <div id="Text_r">
            <span><a href="./">메인화면</a></span>
        </div>
        <div id="Text_s">
            <span><a href="education">학습하기</a></span>
        </div>
        <div id="Text_t">
            <span><a href="test">테스트</a></span>
        </div>
        <div id="Text_u">
            <span>커뮤니티</span>
        </div>
        <div id="Text_v">
            <span>공지사항</span>
        </div>
        <svg class="n_2">
            <rect id="n_2" rx="0" ry="0" x="0" y="0" width="87" height="3">
            </rect>
        </svg>
        <svg class="n_8">
            <ellipse id="n_8" rx="5" ry="5" cx="5" cy="5">
            </ellipse>
        </svg>
        <svg class="n_17">
            <rect id="n_17" rx="0" ry="0" x="0" y="0" width="1920" height="1">
            </rect>
        </svg>
        <img id="n_904653_alarm_alert_bell_noti" src="{{ url_for('static', filename='images/n_904653_alarm_alert_bell_noti.png') }}">
            
        <img id="n_867954_user_icon" src="{{ url_for('static', filename='images/n_867954_user_icon.png') }}">
            
        <svg class="n_15">
            <rect id="n_15" rx="20" ry="20" x="0" y="0" width="355" height="42">
            </rect>
        </svg>
        <img id="n_801315_glass_magnifier_magni" src="{{ url_for('static', filename='images/n_801315_glass_magnifier_magni.png') }}">
            
        <svg class="n_20">
            <rect id="n_20" rx="12" ry="12" x="0" y="0" width="1385" height="830">
            </rect>
        </svg>
        <div id="n__">
            <span>웹캠 영상</span>
        </div>
        <div id="Text_">
            <span>테스트</span>
        </div>
        <img id="Rectangle" src="{{ url_for('static', filename='images/Rectangle.png') }}">
            
        <svg class="n_36">
            <rect id="n_36" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>
        <div id="Text_ba">
            <span>아이콘</span>
        </div>
        <svg class="n_26">
            <rect id="n_26" rx="12" ry="12" x="0" y="0" width="353.333" height="197">
            </rect>
        </svg>
        <svg class="n_37">
            <rect id="n_37" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>
        <svg class="n_38">
            <rect id="n_38" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>
        <svg class="n_39">
            <rect id="n_39" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>
        <svg class="n_40">
            <rect id="n_40" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>
        <div id="Text_be">
            <span>아이콘</span>
        </div>
        <div id="Text_bf">
            <span>아이콘</span>
        </div>
        <div id="Text_bg">
            <span>아이콘</span>
        </div>
        <div id="Text_bh">
            <span>아이콘</span>
        </div>
        <svg class="n_41">
            <rect id="n_41" rx="12" ry="12" x="0" y="0" width="353.333" height="197">
            </rect>
        </svg>
        <svg class="n_42">
            <rect id="n_42" rx="12" ry="12" x="0" y="0" width="353.333" height="197">
            </rect>
        </svg>
        <svg class="n_43">
            <rect id="n_43" rx="12" ry="12" x="0" y="0" width="353.333" height="122">
            </rect>
        </svg>
        <div id="n__bl">
            <span>제시어 </span>
        </div>
        <svg class="n_13">
            <ellipse id="n_13" rx="5.5" ry="5.5" cx="5.5" cy="5.5">
            </ellipse>
        </svg>
        <div id="Text_bn">
            <span>이름</span>
        </div>
        <svg class="n_44">
            <rect id="n_44" rx="0" ry="0" x="0" y="0" width="4" height="23">
            </rect>
        </svg>
        <svg class="n_45">
            <rect id="n_45" rx="0" ry="0" x="0" y="0" width="4" height="23">
            </rect>
        </svg>
        <svg class="n_1_bq" viewBox="0 0 22 19">
            <path id="n_1_bq" d="M 10.99999904632568 0 L 22 19 L 0 19 Z">
            </path>
        </svg>
        <svg class="n_2_br" viewBox="0 0 22 19">
            <path id="n_2_br" d="M 10.99999904632568 0 L 22 19 L 0 19 Z">
            </path>
        </svg>
        <div id="n__bs">
            <span>제시어 </span>
        </div>
        <svg class="n_15_bt">
            <ellipse id="n_15_bt" rx="5.5" ry="5.5" cx="5.5" cy="5.5">
            </ellipse>
        </svg>
        <div id="n_2_bu">
            <span>72</span><span style="font-size:40px;color:rgba(3,3,3,1);">점</span>
        </div>
        <div id="n__bv">
            <span>제시어 </span>
        </div>
        <div id="n____bw">
            <span>손을 더 들어야 해요</span>
        </div>
        <svg class="n_16">
            <ellipse id="n_16" rx="5.5" ry="5.5" cx="5.5" cy="5.5">
            </ellipse>
        </svg>
        <div id="X">
            <span>X</span>
        </div>
    </div>
    </body>

</html>