<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/translation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


    <title>수어 프로그램</title>

</head>



<body>
    <div id="n_">
        <div class="n_1"> <img src="{{ url_for('static', filename='images/n_2_bm.png') }}"></div>
        <!-- <svg class="n_1">
            <rect id="n_1" rx="0" ry="0" x="0" y="0" width="50" height="48">
            </rect>
        </svg> -->
        <div id="Text">
            <img src="{{ url_for('static', filename='images/n_3_b.png') }}"></div>
        </div>
        <div id="n___">
            <span>쉽고 간편한 수어 프로그램</span>
        </div>
        <svg class="n_1_o" viewBox="0 0 0.800000011920929 37.5">
            <path id="n_1_o" d="M 0 0 L 0 37.5">
            </path>
        </svg>
        <div id="Text_p">
            <span><a href="translation">번역하기</a></span>
        </div>
        <!-- <div id="LOGO">
            <span>LOGO</span>
        </div> -->
        <div id="Text_r">
            <span><a href="./">메인화면</a></span>
        </div>
        <div id="Text_s">
            <span><a href="education">학습하기</a></span>
        </div>
        <div id="Text_t">
            <span><a href="test">테스트</a></span>
        </div>
        <div id="Text_u">
            <span>커뮤니티</span>
        </div>
        <div id="Text_v">
            <span>공지사항</span>
        </div>
        <svg class="n_2">
            <rect id="n_2" rx="0" ry="0" x="0" y="0" width="87" height="3">
            </rect>
        </svg>
        <svg class="n_8">
            <ellipse id="n_8" rx="5" ry="5" cx="5" cy="5">
            </ellipse>
        </svg>
        <svg class="n_17">
            <rect id="n_17" rx="0" ry="0" x="0" y="0" width="1920" height="1">
            </rect>
        </svg>
        <img id="n_904653_alarm_alert_bell_noti"
            src="{{ url_for('static', filename='images/bell_clock_icon.png') }}">

        <img id="n_867954_user_icon" src="{{ url_for('static', filename='images/n_867954_user_icon.png') }}">

        <svg class="n_15">
            <rect id="n_15" rx="20" ry="20" x="0" y="0" width="355" height="42">
            </rect>
        </svg>
        <img id="n_801315_glass_magnifier_magni"
            src="{{ url_for('static', filename='images/n_801315_glass_magnifier_magni.png') }}">
        
        <svg class="n_20">
            <rect id="n_20" rx="12" ry="12" x="0" y="0" width="1385" height="830"></rect>
        </svg>
        <!-- <div class="n_20"> -->
            <!-- <canvas id="canvas" rx="12" ry="12" x="0" y="0" width="1385" height="830"></canvas> -->
        <img class="n_20" src="{{ url_for('video_feed') }}" width="674" height="404">
        <!-- </div> -->

        <!-- <div id="n__">
            <span>웹캠 영상</span>
        </div> -->
        <div id="Text_">
            <span>번역하기</span>
        </div>
        <img id="Rectangle" src="{{ url_for('static', filename='images/Rectangle.png') }}">
        <svg class="n_36">
            <rect id="n_36" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>

        <!-- <div id="Text_ba">
            <span>아이콘</span>
        </div> -->
        <svg class="n_26">
            <rect id="n_26" rx="12" ry="12" x="0" y="0" width="353.333" height="830">
            </rect>
        </svg>
        <div class="n_26">
            <!-- <svg class="n_13">
                <ellipse id="n_13" rx="5.5" ry="5.5" cx="5.5" cy="5.5">
                </ellipse>
            </svg> -->
            <p id="n______">
                <span id="direction">인식 중입니다.. <br />화면 중앙에 서주세요</span>
            </p>
            <p id="n__ba">
                <span id="answer">배가 아파서 왔습니다. aaaaaaaaaaa</span>
            </p>
        </div>

        <img class="n_37" src="{{ url_for('static', filename='images/favourite_icon.png') }}">
        <img class="n_38" src="{{ url_for('static', filename='images/file_document_icon.png') }}">
        <img class="n_39" src="{{ url_for('static', filename='images/set_setting_icon.png') }}">
        <img class="n_40" src="{{ url_for('static', filename='images/pencil_write_icon.png') }}">

        <!-- <svg class="n_37">
            <rect id="n_37" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg> -->
        <!-- <svg class="n_38">
            <rect id="n_38" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>
        <svg class="n_39">
            <rect id="n_39" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg>
        <svg class="n_40">
            <rect id="n_40" rx="18" ry="18" x="0" y="0" width="36" height="36">
            </rect>
        </svg> -->
        <!-- <div id="Text_bj">
            <span>아이콘</span>
        </div> -->
        <!-- <div id="Text_bk">
            <span>아이콘</span>
        </div>
        <div id="Text_bl">
            <span>아이콘</span>
        </div>
        <div id="Text_bm">
            <span>아이콘</span>
        </div> -->


        <!-- <svg class="n_14">
            <ellipse id="n_14" rx="5.5" ry="5.5" cx="5.5" cy="5.5">
            </ellipse>
        </svg> -->
        <!-- <svg class="n_3" viewBox="0 0 213 1">
            <path id="n_3" d="M 0 0 L 213 0">
            </path>
        </svg> -->
        <!-- <svg class="n_4" viewBox="0 0 213 1">
            <path id="n_4" d="M 0 0 L 213 0">
            </path>
        </svg> -->
        <!-- <svg class="n_5" viewBox="0 0 137 1">
            <path id="n_5" d="M 0 0 L 137 0">
            </path>
        </svg> -->
    </div>
					
    <img id="n_2_bm" src="{{ url_for('static', filename='images/n_2_bm.png') }}" >
        
    <img id="n_3" src="{{ url_for('static', filename='images/n_3.png') }}" >

</body>

<script src="{{ url_for('static', filename='js/translation.js') }}"></script>

</html>

